<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ZST | LogApp</title>
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
    @Styles.Render("~/Content/css")
</head>

<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="@Url.Action("Index", "Home")">
                        ZST LogApp
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("SearchLogType", "Admin")">Wyszukaj typ loga</a>
                </li>
                @{
                    if (System.Web.HttpContext.Current.User != null && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="@Url.Action("AddLogType", "Admin")">Dodaj nowy typ loga</a>
                        </li>
                        <li>
                            <a href="@Url.Action("LogOut", "Admin")">Wyloguj</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Login", "Admin")">Zaloguj</a>
                        </li>
                    }
                }
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
</html>
